<%= form_for [@group] do |f| %>
    <div class="form-group">
      <label>Batch</label>
      <%= f.number_field :batch %>
    </div>
    <div class="form-group">
      <label>Start date</label>
      <%= f.date_field :start_date %>
    </div>
    <div class="form-group">
      <label>End date</label>
      <%= f.date_field :end_date %>
    </div>
    <%= f.submit 'Save' %>
  <%= link_to "Back", root_path %>
<% end %>
